// .m-header-right {
//   float: right;
// }
.m-menu__cancelar {
  .m-menu__link-text {
    color: #ff4444 !important;
  }
  .m-menu__link-icon {
    color: #ff4444 !important;
  }
}

.li-btn-group {
  height: 33px !important;
}

.m-nav>.m-nav__separator.m-nav__separator--fit {
  margin-right: 0px;
  margin-left: 0px;
}
