<div class="m-content">
  <div class="m-portlet m-portlet--full-height">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            {{title}}
          </h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <app-portlet-toolbar [buttons]="toolbarButtons"></app-portlet-toolbar>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="tab-content">
        <app-grid [gridModel]="gridModel" (rowSelect)="select($event)"></app-grid>
      </div>
    </div>
  </div>
</div>