<div class="m-content">
  <div class="m-portlet m-portlet--full-height">
    <form class="m-form m-form--fit m-form--label-align-right" id="form" novalidate #form="ngForm" [appFormValidation]="this.form"
      (action)="save()">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Usuário
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <app-portlet-toolbar [buttons]="toolbarButtons"></app-portlet-toolbar>
        </div>
      </div>

      <div class="m-portlet__body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group m-form__group">
              <label for="id">Id</label>
              <input type="text" class="form-control m-input" id="id" disabled [(ngModel)]="model.id" name="id">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group m-form__group">
              <label for="nome">Nome</label>
              <input type="text" name="nome" class="form-control m-input" id="nome" placeholder="Nome" [(ngModel)]="model.nome" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group m-form__group">
              <label for="sobrenome">Sobrenome</label>
              <input type="text" name="sobreNome" class="form-control m-input" id="sobrenome" placeholder="Sobrenome" [(ngModel)]="model.sobreNome"
                required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group m-form__group">
              <label for="email">E-mail</label>
              <input type="email" name="email" class="form-control m-input" id="email" placeholder="Email" [(ngModel)]="model.email" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group m-form__group">
              <label for="telefone">Telefone</label>
              <input type="telefone" name="telefone" class="form-control m-input" id="telefone" placeholder="(99)99999-9999" mask="(99)99999-9999"
                [(ngModel)]="model.telefone" required>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>