@model AvaliadorPI.Identity.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}

<h2>Alterar Senha</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">

            <input type="hidden" asp-for="ReturnUrl" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            @if (!string.IsNullOrWhiteSpace(Model?.StatusMessage))
            {
                <div class="form-group">
                    <label asp-for="StatusMessage" class="control-label"></label> :
                    <label class="text-danger">@Model?.StatusMessage</label>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>